<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
  </head>
  <body>
    <form action="/signup" method="post">
      Username:
      <input type="text" name="username">
      Password:
      <input type="password" name="password">

      <button type="submit">Signup</button>
    </form>
  </body>
</html>
